@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
}

/* DEFAULT (light theme) */
:root {
  /* BG colors */
  --color-bg-primary: #7fbf7f;
  --color-bg-secondary: #d3ead3;
  --color-bg-hover: #6cd46c;

  /* TEXT colors */
  --color-text-primary: #1f321f;
  --color-text-secondary: #386038;
  --color-text-hover: #2a321a;

  /* BUTTON colors */
  --color-btn-bg: #d4a017;
  --color-btn-text: #ffffff;
  --color-btn-bg-hover: #a0740f;
  --color-btn-text-hover: #ffffff;

  /* TEXT size */
  --text-heading-xl: 2.5rem;
  --text-heading-lg: 2rem;
  --text-heading-md: 1.5rem;
  --text-heading-sm: 1.25rem;

  --text-body-lg: 1.125rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;

  --text-caption-md: 0.75rem;
  --text-caption-sm: 0.625rem;
}

/* DARK theme */
.dark {
  --color-bg-primary: #1e2d1e;
  --color-bg-secondary: #2a3c2a;
  --color-bg-hover: #396239;

  --color-text-primary: #cdd6c4;
  --color-text-secondary: #a8b59f;
  --color-text-hover: #e4ebd9;

  --color-btn-bg: #d4a017;
  --color-btn-text: #ffffff;
  --color-btn-bg-hover: #a0740f;
  --color-btn-text-hover: #ffffff;
}
