@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
}

/* DEFAULT (light theme) */
:root {
  /* BG colors */
  --color-bg-primary: #b1c9ef;
  --color-bg-secondary: #d5deef;
  --color-bg-hover: #395886;
  --color-bg-body: #e0fbfc;

  /* TEXT colors */
  --color-text-primary: #230462;
  --color-text-secondary: #203590;
  --color-text-hover: #d5deef;

  /* BUTTON colors */
  --color-btn-bg: #00b4d8;
  --color-btn-text: #03045e;
  --color-btn-bg-hover: #a983d8;
  --color-btn-text-hover: #023047;

  /* TEXT size */
  --text-heading-xl: 2.5rem;
  --text-heading-lg: 2rem;
  --text-heading-md: 1.5rem;
  --text-heading-sm: 1.25rem;

  --text-body-lg: 1.125rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;

  --text-caption-md: 0.75rem;
  --text-caption-sm: 0.625rem;
}

/* DARK theme */
.dark {
  --color-bg-primary: #1c1c1c;
  --color-bg-secondary: #004d61;
  --color-bg-hover: #a8dadc;
  --color-bg-body: #333333;

  --color-text-primary: #f0f0f0;
  --color-text-secondary: #ffc1cc;
  --color-text-hover: #ff4500;

  --color-btn-bg: #002837;
  --color-btn-text: #cedfdf;
  --color-btn-bg-hover: #a8dadc;
  --color-btn-text-hover: #ff4500;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 50px;
  border: 12px solid rgba(0, 0, 0, 0.2);
  border-top-color: var(--color-text-secondary);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen {
}

@media only screen and (max-width: 1440px) {
  body {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 95%;
  }
}
